node_modules
yarn.lock

# .config
.config/vscode/
.config/zsh/.zcompdump
.config/.fnm/
.config/.electron/
.config/.gem/
.config/docker/
.config/raycast/extensions/
.config/gh/hosts.yml
.config/hammerspoon/stackline/
.config/configstore/
.config/ranger/plugins/
.config/tmux/plugins/
.config/z/
.config/yarn/link/
.config/asciinema
.config/gcloud
.config/wix
enki-theme
kitty-themes
.config/gup/assets/

# zsh
.zsh_history
.config/zsh/.oh-my-zsh/
.config/zsh/.zsh_sessions/
.zcompdump*

# nvim
.config/nvim/sessions/
.config/nvim/undodir/
packer_compiled.lua

# fish
.config/fish/fishd.tmp.*
.config/fish/fish_variables

# 1password
.config/op

# misc
error.log





